<!DOCTYPE html>

<title><%= file_path %></title>

<script type="text/javascript">
  window.joosy = {
    libraries: <%= "<%= extract_sources_and_sizes_from_include_tag('#{file_path}') %"+">" %>,
    environment: '<%= "<%= Rails.env.to_s %"+">" %>'
  };
</script>

<%= "<%= stylesheet_link_tag 'application' %"+">" %>
<%= "<%= csrf_meta_tags %"+">" %>
<%= "<%= javascript_include_tag '#{file_path}_preloader' %"+">" %>

<div id="application">
  <div id="preloader">
    Loading application...
    <span id="percents">0%</span>
  </div>
</div>
